# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Pyton
2. R
3. SQL
4. SCALA

**Objectives:**
- Data Science Tools
- Arithmetic expression examples
- Languages for Data Science

Some of the commonly used libraries used by Data Scientists include:


1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|------------------- |
|Jupyter|
|RStudio|
|GitHub|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [44]:
minutes = 200 % 60
hours = 200 // 60
hours, minutes = divmod(200, 60)
print(hours, minutes)

3 20

## Author
[ZAFER ERSÃ–Z](https://www.linkedin.com/in/zafer-ers%C3%B6z-3069b4213)